<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Техника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">

				<li class="dropdown-menu__item lazyloaded" data-bg="images/вытяжки.svg">
					<a class="dropdown-menu__link" href="/catalog/vytyazhki/" title="Вытяжки">Вытяжки</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/варки.svg">
					<a class="dropdown-menu__link" href="/catalog/varochnye-paneli/" title="Варочные панели">Варочные
						панели</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/духовки.svg">
					<a class="dropdown-menu__link" href="/catalog/dukhovye-shkafy/" title="Духовые шкафы">Духовые
						шкафы</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/плиты.svg">
					<a class="dropdown-menu__link" href="/catalog/plity/" title="Плиты">Плиты</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/микроволновки.svg">
					<a class="dropdown-menu__link" href="/catalog/mikrovolnovye-pechi/"
						title="Микроволновые печи">Микроволновые
						печи</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/посудомойка.svg">
					<a class="dropdown-menu__link" href="/catalog/posudomoechnye-mashiny/"
						title="Посудомоечные машины">Посудомоечные машины</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/холодильник.svg">
					<a class="dropdown-menu__link" href="/catalog/holodilniki/" title="Холодильники">Холодильники</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/стиралка.svg">
					<a class="dropdown-menu__link" href="/catalog/stiralnye-mashiny/"
						title="Стиральные машины">Стиральные
						машины</a>

				</li>

				<li class="dropdown-menu__item lazyloaded" data-bg="images/аксессуары.svg">
					<a class="dropdown-menu__link" href="/catalog/aksessuary/" title="Аксессуары">Аксессуары</a>

				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last">
			<a href="#" title="Новинки">Новинки</a>
		</span>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last"><a href="#">Сервис</a></span>
	</nav>
	{% include 'popup-call/callback.html' %}
</div>
