<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Техника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item"  data-bg='images/холодильник.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Холодильники</a>
				</li>
				<li class="dropdown-menu__item"  data-bg='images/морозилка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Морозильники</a>
				</li>
				<li class="dropdown-menu__item"  data-bg='images/стиралка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Стиральные машины</a>
				</li>
				<li class="dropdown-menu__item"  data-bg='images/сушилка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Сушильные машины</a>
				</li>
				<li class="dropdown-menu__item"  data-bg='images/пароварка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Духовые шкафы</a>
				</li>
				<li class="dropdown-menu__item"  data-bg='images/варка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Варочные панели</a>
				</li>
				<li class="dropdown-menu__item"  data-bg='images/посудомойка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Посудомоечные машины</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last">
			<a href="#" title="Новинки">Новинки</a>
		</span>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last"><a href="#">Сервис</a></span>
	</nav>
	{% include 'popup-call/callback.html' %}
</div>
