.content-top {
	display: flex;
	max-width: 1436px;
	min-height: 362px;
	margin: 0 auto;
	// background: url("../images/catalog.jpg") no-repeat;
	background-size: auto;
	background-position-x: right;
	background-repeat: no-repeat;

	@media screen and (max-width: 767px) {
		height: auto;
		min-height: 400px;
		background-position-x: 100% !important;
		// background: url("../images/catalog-mobile.png") 100% 100% no-repeat;
		background-size: cover !important;

		.container {
			display: flex;
			flex-direction: column;
			height: 100%;
			// justify-content: center;
		}

		.page__title.content-top__title_bottom {
			display: none;
		}

		.navchain {
			font-family: Arial, sans-serif;
			font-size: 12px;
			line-height: 24px;
			margin-top: 146px;
			text-align: center;
		}

		.breadcrumbs {
			padding: 0 16px;
			margin-top: 145px;
			text-align: center;
			align-self: center;

			div[itemtype="http://schema.org/BreadcrumbList"] {
				justify-content: center;
			}
		}

		&__aside {
			width: 100%;
			max-width: unset !important;
			padding: 0;
			background: unset;
		}

		&__title_top {
			width: 100%;
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 30px;
			font-weight: 400;
			line-height: 39px;
			text-transform: uppercase;
			// word-spacing: 60rem;
			text-align: center;
			background: none;
		}

		&__title_bottom {
			display: none;
		}

		&__inner {
			background: #00000030;
		}

		&__tags {
			.content-top__aside {
				padding: 0;
			}

			.breadcrumbs {
				// padding: 0;
				margin-top: 44px;
			}

			.content-top__title_top {
				color: #ffffff;
				font-family: "Roboto Condensed";
				font-size: 30px;
				font-weight: 400;
				line-height: 39px;
				text-transform: uppercase;
				margin-bottom: 14px;
			}

			.content-top__title_bottom {
				display: flex !important;
				justify-content: center;
			}
		}
	}

	@media screen and (max-width: 480px) {
		min-height: unset;
		background: #333 !important;

		.content-top {
			&__switch {
				display: none;
			}

			&__inner {
				background: none;
				padding-top: 18px;
			}

			&__title_top {
				margin-bottom: 15px;
			}

			&__switch {
				width: max-content;
				color: #ffffff;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: unset;
				border-bottom: 1px dashed #ffffff;
			}
		}

		.page__title.content-top__title_bottom {
			display: block;

			&.active {
				p {
					&:not(:first-of-type) {
						display: block;
					}
				}
			}
		}

		.breadcrumbs {
			margin-top: 30px;
			text-align: center;
			padding: 0 16px;
			background: unset;

			&__link {
				color: #ffffff;
			}
		}

		p {
			margin-bottom: 12px;

			&:not(:first-of-type) {
				display: none;

				+.content-top__switch {
					display: block;
				}
			}
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 0;
	}

	.breadcrumbs {
		width: fit-content;
		padding: 0 11px;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2;
		letter-spacing: normal;
		color: #ffffff;
		margin-bottom: 10px;
		margin-top: 25px;
		border-radius: 2px;
		background: rgba(0, 0, 0, 0.21);
		margin-top: 30px;
		text-align: center;
		padding: 0 16px;

		&__link {
			color: #fff;
		}

		&__text {
			font-weight: 700;
		}

		div {
			align-items: center;
		}

		a {
			// color: #ffffff;
			color: #fff;
		}
	}

	&__inner {
		// height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-content: baseline;
		align-items: baseline;
		width: 100%;
	}

	&__tags {
		.content-top__aside {
			max-width: 463px;
			padding: 44px 41px 40px 33px;
		}

		.content-top__title_top {
			display: flex;
			flex-direction: column;
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 30px;
			font-weight: 400;
			line-height: 37px;
			text-transform: uppercase;
			margin-bottom: 9px;
		}

		.content-top__title_bottom,
		span {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 16px;
			font-weight: 400;
		}
	}

	&__aside {
		max-width: 572px;
		padding: 32px 65px 32px 32px;
		border-radius: 3px;
		background-color: #666666;
		margin-bottom: 32px;
	}

	&__title {
		width: 100%;

		&_top {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 32px;
			font-weight: 400;
			line-height: 1.1;
			text-transform: uppercase;
			margin-bottom: 18px;

			span {
				color: #ffffff;
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 400;
			}
		}

		&_bottom {
			// margin-bottom: 91px;
			// width: 470px;
			color: #ffffff;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 22px;
		}
	}
}
