.return-exchange {
	@media screen and (max-width: 767px) {
		&__form {
			margin-bottom: 0;

			.return-exchange__textarea {
				width: unset;
			}
		}
	}

	@media screen and (max-width: 767px) {
		&__attachment {
			padding-left: 0;

			.abuse-popup__submit {
				width: 100%;
			}

			label {
				// margin-left: 15px;
			}
		}

		&__form {
			margin-top: 20px;
		}

		&__name {
			padding-top: 0;
			margin-bottom: 13px;
			line-height: 17px;
			width: 100%;
		}

		&__file {
			margin-left: 0 !important;
			flex-grow: 0 !important;

			.MultiFile-label {
				flex-wrap: nowrap;
				justify-content: flex-end;
				width: 100%;

				>span {
					padding-right: 10px;
				}
			}

			.MultiFile-remove {
				flex-shrink: 0;
			}

			.MultiFile-label span {
				max-width: 230px;
				overflow: hidden;
			}
		}

		&__input {
			max-width: 100%;
		}

		&__field {
			flex-wrap: wrap;
			flex-direction: column;
		}

		&__attachment__container {
			display: flex;
			justify-content: center;
			width: 100%;
		}

		&__textarea {
			height: 81px;
			resize: none;
		}
	}

	&__form {
		margin-top: 22px;
		margin-right: auto;
		margin-bottom: 30px;
		width: 100%;
	}

	&__name {
		display: flex;
		flex-shrink: 0;
		width: 200px;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.29;
		letter-spacing: normal;
		text-align: left;
		color: #333333;
		padding-top: 8px;
	}

	&__field {
		display: flex;
		margin-bottom: 16px;
		flex-wrap: wrap;
		justify-content: unset !important;
	}

	&__input,
	&__select {
		flex-grow: 1;
		max-width: 372px;
		height: 46px;
		border: solid 1px #cbcbcb;
		border-radius: 2px;
		background-color: #ffffff;
		padding-left: 15px;
		color: #2e2e2e;
		font-family: Arial;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	// &__input {
	// 	height: 46px;
	// 	border-radius: 2px;
	// 	background-color: #ffffff;
	// 	border: solid 1px #cbcbcb;
	// 	max-width: 372px;
	// 	flex-grow: 1;
	// 	padding-left: 15px;
	// }
	&__textarea {
		flex-grow: 1;
		width: 372px;
		height: 124px;
		border: solid 1px #cbcbcb;
		border-radius: 2px;
		background-color: #ffffff;
		resize: none;
		padding-left: 15px;
	}

	&__required {
		color: $base;
	}

	&__copyright {
		width: 100%;
		color: #666666;
		font-family: Arial, sans-serif;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 15px;

		a {
			color: $base;
		}

		i {
			font-style: normal;
			font-weight: 500;
			color: #ff4b4b;
			margin-right: 5px;
			margin-left: 5px;
		}
	}

	&__attachment {
		flex-direction: column;
		justify-content: unset !important;
		position: relative;
		padding-left: 200px;

		.checkbox_oferta {
			padding-top: 6px;
		}

		label {
			&.return-exchange__label {
				margin-left: 25px;
			}
		}

		a {
			color: $base;
		}
	}

	&__file {
		// overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		align-self: baseline;
		justify-content: center;
		justify-content: center;
		position: relative;
		max-width: 100%;
		margin-bottom: 0;

		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 133px;
			height: 34px;
			border: 1px solid $base;
			border-radius: 2px;
			margin-bottom: 5px;
			color: $base;
			font-family: "Roboto Condensed";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			cursor: pointer !important;
		}

		.MultiFile-wrap {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.MultiFile-label {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			margin-bottom: 5px;

			// padding: 5px;
			span {
				display: inline-block;
				height: 28px;
				line-height: 28px;
				white-space: nowrap;
				font-size: 12px;
				text-transform: uppercase;
				color: #000;
				background: #e3e3e3;

				&.MultiFile-title {
					padding: 0 15px;
				}
			}
		}

		.MultiFile-remove {
			margin-left: 10px;
			color: #e63333 !important;
			font-size: 12px;
			text-decoration: none !important;
			border-bottom: 1px dotted #e63333;
			line-height: 1.5;
		}

		.MultiFile-list {
			display: flex;
			flex-direction: column;
			align-items: baseline;
		}

		input[type=file] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 34px;
			opacity: 0;
			cursor: pointer !important;

			&::-webkit-file-upload-button {
				cursor: pointer;
			}
		}
	}
}
